{
  "presets": [
    "es2015",
    "stage-2",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-decorators-legacy",
    "transform-es2015-modules-commonjs",
    "transform-es2015-block-scoping",
    "transform-runtime"
    // Enables React code to work with HMR.
  ]
}
