{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "semi": [
      2,
      "never"
    ],
    "indent": [
      "off",
      4,
      {
        "SwitchCase": 1
      }
    ],
    "no-const-assign": "warn",
    "no-this-before-super": "warn",
    "no-undef": "warn",
    "no-unreachable": "warn",
    "no-unused-vars": "warn",
    "constructor-super": "warn",
    "valid-typeof": "warn",
    "no-console": "off",
    "space-before-blocks": "warn",
    "arrow-spacing": "warn",
    "comma-spacing": [
      "warn",
      {
        "before": false,
        "after": true
      }
    ],
    "keyword-spacing": [
      "warn",
      {
        "before": true
      }
    ],
    "key-spacing": [
      "warn",
      {
        "beforeColon": false,
        "afterColon": true
      }
    ],
    "no-multi-spaces": [
      "warn",
      {
        "ignoreEOLComments": true
      }
    ],
    "space-infix-ops": [
      "warn",
      {
        "int32Hint": false
      }
    ],
    "no-control-regex": "off",
    "no-empty-character-class": "off",
    "no-regex-spaces": "off",
    "no-div-regex": "off",
    "no-useless-escape":"off",
    // jsx config
    "react/display-name": 0,
    "react/prop-types": "warn",
    // change to error in future when team has time to add prop-types
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  }
}