body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: ".SC Pingfang";
}
ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  border: none;
  vertical-align: top;
} /*图片下没缝隙用vertical-align*/
th,
td {
  padding: 0;
}
table {
  border-collapse: collapse;
}
form {
  margin: 0;
}
input {
  margin: 0;
  padding: 0;
  vertical-align: top;
}
select {
  margin: 0;
}

textarea {
  margin: 0;
  padding: 0;
  resize: none;
  overflow: auto;
  outline: none;
}

.clear {
  zoom: 1;
}
.clear:after {
  content: "";
  display: block;
  clear: both;
}